@media (min-width: 1500px) {
    html {
        font-size: 35px;
    }
}
@media (min-width: 1920px) {
    html {
        font-size: 40px;
    }
}
@media (min-width: 1200px) and (max-width: 1300px) {
    div.grid {
        grid-template-columns: 250px 250px 250px 250px;
    }

    a.navbar-brand {
        top: 75vh;
        left: 85vw;
    }
}
@media (min-width: 1000px) and (max-width: 1200px) {
    html {
        font-size: 25px;
    }
    div.grid {
        grid-template-columns: 400px 400px;
    }
    /**/
    a.navbar-brand {
        top: 73vh;
        left: 83vw;
    }
}
@media (min-width: 800px) and (max-width: 1000px) {
    html {
        font-size: 20px;
    }
    iframe {
        width: 720px;
        height: 405px;
    }
    div.grid {
        grid-template-columns: 300px 300px;
    }
    /*Parte do bootstrap*/
    a.navbar-brand {
        top: 73vh;
        left: 83vw;
    }
    img#icone {
        height: 2.5em;
        width: 2.5em;
    }
}